.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/temp
/dataDL
4_ebs_dataprep_grids.nb.html
neus_data_gridded.RData
neus_full_1982onward.clean.reduced.again.RData
ebs_data_gridded.RData
*.eps
*distances_dissimilarities_allyears.rds
FISHGLOB_v1.1_clean.csv
FishGlob_1.1.clean.rds
FISHGLOB_v1.2_clean.csv
FishGlob_1.2.clean.rds
FISHGLOB_v1.5_clean.csv
FishGlob_cleaned.10year.rds
data/FishGlob_1.1.clean.rds
output/region_season_cleaned_data/FishGlob_cleaned.10year.rds
output/region_season_cleaned_data/FishGlob_cleaned.10year.r.rds
data/cleaned/FishGlob.10year.spp_manualclean.rds
OISST_data_AI.rds
OISST_data*
box_plots_bray.rds
box_plots_jaccard.rds
*.csv
*.pdf
intercept_slope_varies.rds
intercept_varies.rds
simple_mod.rds
FishGlob.10year.spp_manualclean.rds
data/Scotland_magurran_comparison
distances_dissimilarities_allyears.rds
distances_dissimilarities_allyears_15perc_excluded.rds
data/cleaned/FishGlob_clean.rds
FishGlob.wellsampledyearscells_complete.final.rds
FishGlob_clean.rds
